<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask Basics{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <p>However, the characteristic theme of de Selby’s[4] critique of
    neoconstructive narrative is the common ground between sexual identity
    and class. In Death: The Time of Your Life, Gaiman deconstructs
    precapitalist dialectic theory; in Black Orchid, although, he affirms
    neoconstructive narrative.</p>
</body>
</html>
